doctype html
html 
head  
body 
h1 Login
form(method='post')
 label(for='username') username
           input(id='username',type='text',value='',placeholder='Full name',name='username')
 label(for='password') password
           input(id='password',type='password',value='',placeholder='',name='password')
 input(type='submit',value='Sign In',data-transition='fade')
 p Username: Dorothy Russel
 p Password: FRG3T28Y88H8W6GRR

